<div class="painting-container">
  <h2>{{ painting.title }}</h2>
  <p>Year: {{ painting.year }}</p>
  <p>Author: {{ painting.author }}</p>
  <p>Dimensions: {{ painting.dimensions }}</p>
  <p>Location: {{ painting.location }}</p>

  <div class="thumbnail-container">
    <div
      *ngFor="let thumbnail of painting.thumbnails"
      (click)="toggleImage(thumbnail)"
    >
      <img [src]="thumbnail" alt="Thumbnail" width="100" height="100" />
    </div>
  </div>

  <div class="full-image-container" *ngIf="showFullImage">
    <img [src]="showFullImage" alt="Full Image" width="600" height="300" />
  </div>
</div>
